<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:text-white fixed z-40 w-full  ">
    <div class="max-w-screen-xl flex  items-center  mx-auto p-4 nav">
      <a routerLink="/posts" class="flex items-center space-x-3  rtl:space-x-reverse">
          <span class="self-center text-2xl text-main font-semibold whitespace-nowrap dark:text-white">Linked Posts</span>
      </a>
        <ul class="font-medium flex items-center  p-0   border-gray-100   flex-row space-x-8 rtl:space-x-reverse mt-0 border-0  ">
          <li>
            <a   routerLink="/profile" class="block cursor-pointer py-2 px-3  bg-blue-700 rounded bg-transparent text-blue-700 " >
                <img class="w-10 h-10 rounded-full border-blue-400 border-2 imagenav" [src]="user?.photo" alt="" >
            </a>
          </li>
          <li class="p-0 md:p-2" (click)="openDash()">
            <i  class="fa-solid fa-bars cursor-pointer  hover:text-blue-600 dark:text-blue-400 text-gray-900 text-2xl "></i>
          </li>
        </ul>
    </div>
  </nav>
  <div [ngClass]="{'open':isDashed()}">
    <div class="dashboard bg-white dark:bg-gray-900  dark:text-blue-400 fixed z-50 top-0 right-0 min-h-screen p-4">
      <ul class="list-none pt-5 ">
        <li class="py-3 px-16 rounded-2xl cursor-pointer flex justify-between items-center">
          <a   routerLink="/profile" class="block cursor-pointer  text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">
            <img class="w-10 h-10 rounded-full border-blue-400 border-2" [src]="user?.photo" alt="" >
        </a>
        <i (click)="closeDash()" class="fa-solid fa-bars cursor-pointer  -mr-8 hover:text-blue-500 text-gray-900 dark:text-blue-400 text-2xl"></i>
        </li>
        <li routerLink="/posts" class="py-3 px-16 rounded-2xl cursor-pointer  hover:bg-gray-100 flex justify-between gap-4 items-center">
          <i class="fa-solid fa-house "></i>
          <span class="inline-block w-24 ">Home</span>
       </li>
       <li  routerLink="/profile"  class="py-3 px-16 rounded-2xl cursor-pointer hover:bg-gray-100 flex justify-between gap-4 items-center">
        <i class="fa-solid fa-user"></i>       
        <span class="inline-block w-24" >My Profile</span>
      </li>
        <li  data-modal-target="medium-modal" data-modal-toggle="medium-modal"  class="py-3 px-16 rounded-2xl cursor-pointer hover:bg-gray-100 flex justify-between gap-4 items-center">
          <i class="fa-solid fa-user-pen"></i>
          <span class="inline-block w-24" >Edit Photo</span>
        </li>
        <li  routerLink="/change" class="py-3 px-16 rounded-2xl cursor-pointer hover:bg-gray-100 flex justify-between gap-4 items-center">
          <i class="fa-solid fa-lock"></i>
          <span class="inline-block w-24" >Change Password</span>
        </li>
       
        <li (click)="_dark.updateMode()"  class="py-3 px-16 rounded-2xl cursor-pointer hover:bg-gray-100 flex justify-between gap-4 items-center">
          @if(_dark.darkmode()=== 'dark'){
            <i  class="fa-solid fa-moon text-2xl"></i>
            <span class="inline-block w-24">Mode</span>
          }@else{
            <i  class="fa-solid fa-sun text-2xl"></i>
            <span class="inline-block w-24">Mode</span>
          }

        </li>
        <li (click)="signOut()" class="py-3 px-16 rounded-2xl cursor-pointer hover:bg-gray-100 flex justify-between gap-4 items-center">
          <i class="fa-solid fa-arrow-right-from-bracket "></i>
          <span class="inline-block w-24">Sign Out</span>
        </li>
      </ul>
    </div>
  </div>
<!-- Default Modal -->
<div id="medium-modal" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-lg max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                  Edit Profile
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="medium-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
            <div class="flex items-center justify-center w-full">
              <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50  dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                  <div class="flex flex-col items-center justify-center pt-5 pb-6">
                      <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                      </svg>
                      <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                      <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                  </div>
                  <input id="dropzone-file" (change)="catchImage($event)" type="file" class="hidden" />
              </label>
            </div>         
          </div>
          <!-- Modal footer -->
          <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
              <button data-modal-hide="medium-modal" (click)="onSend()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> Upload Image</button>
          </div>
      </div>
  </div>
</div>

