<app-navbar></app-navbar>
  
<div class="change h-screen bg-main flex flex-col  justify-center items-center dark:bg-gray-900">
    <div class="bg-white w-full md:w-8/12 mx-auto p-4 rounded-lg shadow-lg dark:bg-slate-800">
        <h1 class="text-main text-3xl font-medium my-5">
            Change Password
        </h1>
        <form autocomplete="off" [formGroup]="changeForm" (ngSubmit)="onSubmit()" >
            <div class="mb-6">
                <label for="oldpassword"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old Password</label>
                <input type="password" formControlName="password"  id="oldpassword" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="old password">
                @if(changeForm.get('password')?.touched && changeForm.get('password')?.errors){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(changeForm.get('password')?.errors?.['required']){
                            <span class="font-medium">Please</span> Password is required
                        }
                        @if(changeForm.get('password')?.errors?.['pattern']){
                            <span class="font-medium">Please</span> Enter Valid Password content( At least 2 letters (a-z, A-Z) , Can include one special character (e.g. #, $, etc.), numbers (0-9) )
                        }
                        
                      </div>
                   }
            </div>
        

            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                <input type="password"  formControlName="newPassword" id="password" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="new password">
                @if(changeForm.get('newPassword')?.touched && changeForm.get('newPassword')?.errors){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(changeForm.get('newPassword')?.errors?.['required']){
                            <span class="font-medium">Please</span>  newPassword is required
                        }
                        @if(changeForm.get('newPassword')?.errors?.['pattern']){
                            <span class="font-medium">Please</span> Enter Valid Password content( At least 2 letters (a-z, A-Z) , Can include one special character (e.g. #, $, etc.), numbers (0-9) )
                        }
                        
                      </div>
                   }
            </div>
            <div class="mb-6">
                <label for="confirmpass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
                <input type="password"  id="confirmpass" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="confirm password">
            </div>
            <div>
                <button type="submit" class="text-white w-full gap-0.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Reset Password
                </button>
            </div>           
        </form>
    </div>
</div>


