<app-navbar [user]="user" (emited)="loading()"></app-navbar>
<div class="profile bg-main dark:bg-slate-800">
        <div class="w-1/2 md:w-1/3 mx-auto bg-white dark:bg-slate-700 rounded-lg p-5  mb-5">
            <div class=" md:h-80 md:w-80  sm:w-40 sm:h-40 w-32 h-32  relative  mx-auto" >
                <img [src]="user?.photo" class="w-full h-full rounded-full border-blue-400 border-2 "  alt="">
                <i data-modal-target="crud-modal" data-modal-toggle="crud-modal" id="upload-profile" class="fa-solid fa-pen absolute right-0 bottom-2 cursor-pointer p-4 text-main rounded-full bg-slate-100 hover:bg-slate-200"></i>
                    <!-- Modal toggle -->
                      <div id="crud-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                          <div class="relative p-4 w-full max-w-md max-h-full">
                              <!-- Modal content -->
                              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                  <!-- Modal header -->
                                  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                          Upload Image
                                      </h3>
                                      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                                          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                          </svg>
                                          <span class="sr-only">Close modal</span>
                                      </button>
                                  </div>
                                  <!-- Modal body -->
                          
                                    <div class="p-4 md:p-5">
                                  
                                               
                                <div class="flex items-center justify-center w-full my-3">
                                    <label for="dropzone-files" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50  dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                            </svg>
                                            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 700x400px)</p>
                                        </div>
                                        <input id="dropzone-files" (change)="catchImg($event)" type="file" class="hidden" />
                                    </label>
                                </div> 
                                <button type="submit" (click)="sendPost()" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-700">
                                    <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                    Add Image
                                </button>
                                    </div>
                              </div>
                          </div>
                      </div> 
           </div>
            <h2 class="text-center capitalize md:text-3xl text-xl my-3 dark:text-white">
                {{user?.name}}
            </h2>
        </div>
        <div class="w-1/2 md:w-1/3 mx-auto bg-white dark:bg-slate-700 dark:text-white rounded-lg p-5  mb-5">
            <h3 class="text-left capitalize md:text-3xl text-xl my-3 dark:text-blue-500  font-semibold">
                user information:
            </h3>
                <ul class="max-w-md divide-y divide-gray-200 dark:divide-gray-700">
                    <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-envelope "></i>
                    </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                {{user?.email}}
                            </p>
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-venus-mars"></i>
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                {{user?.gender}}
                            </p>
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-4 rtl:space-x-reverse">
                        <div class="flex-shrink-0">
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                {{user?.dateOfBirth}}
                            </p>
                        </div>
                    </div>
                </li>
                </ul>
        </div>
        @for(post of allPosts();track $index){
            <div class="w-1/2 md:w-1/3 mx-auto bg-white dark:bg-slate-700 dark:text-white rounded-lg p-5  mb-5">
                <div class="flex items-center gap-3 ">
                    <img class="w-11 h-11 rounded-full" [src]="post.user.photo" [alt]="post.user.name">
                    <div>
                        <h3 class="font-medium">
                            {{post.user.name}}
                        </h3>
                        <span class="text-gray-500 my-1 font-light">
                            {{post.createdAt | date:'short'}} 
                        </span>
                    </div>
                    <div class="ml-auto edit relative cursor-pointer icon" >
                        <i class="fa-solid fa-ellipsis" (click)="updateOpen($event)"></i>
                            <ul  class="absolute hidden  text-center border-slate-200 border rounded-lg z-50 bg-white right-2 py-1 px-2">
                                <li class="w-24 border-b text-sm py-1" (click)="deletePost(post._id)">Delete post</li>
                                <li class="w-24 text-sm py-1">Update post</li>
                            </ul>
                    </div>
                 </div>
                <p class="my-4">
                    {{post.body}}
                </p>
                <img class="w-full rounded-xl" [src]="post.image" alt="post-img">
                <app-allcommentpost [Id]="post._id"></app-allcommentpost>
                <app-create-comment [Id]="post._id"></app-create-comment>
            </div>
        }
</div>