<div class="register h-screen bg-main flex flex-col  justify-center items-center ">
    <h1 class="text-5xl font-medium text-center text-main mb-16">
        Linked Posts
    </h1>
    <div class="bg-white w-full md:w-8/12 mx-auto p-4 rounded-lg shadow-lg">
        <h1 class="text-main text-3xl font-medium my-5">
            Login Now
        </h1>
        <form autocomplete="off">
    
            <div class="mb-6">
                <input type="email" id="email" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Type your email...">
            </div>
            <div class="mb-6">
                <input type="password" id="password" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Type your password">
            </div>
            <div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Signin</button>
            </div>
            <p class="text-gray-500">Not registered?<span class="text-main font-medium">Create account</span></p>
        </form>
       
    </div>
</div>