<div class="login h-screen bg-main flex flex-col  justify-center items-center dark:bg-gray-900">
    <h1 class="text-5xl font-medium text-center text-main mb-16">
        Linked Posts
    </h1>
    @if(errMsg){
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">
                {{errMsg}}
            </span>
        </div>
    }
    
    <div class="bg-white w-full md:w-8/12 mx-auto p-4 rounded-lg shadow-lg dark:bg-slate-800">
        <h1 class="text-main text-3xl font-medium my-5">
            Login Now
        </h1>
        <form autocomplete="off" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    
            <div class="mb-6">
                <input type="email" formControlName="email" id="email" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Type your email...">
                @if(signinForm.get('email')?.errors && signinForm.get('email')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(signinForm.get('email')?.errors?.['required']){
                            <span class="font-medium">please email is required</span> 
                        }
                        @if(signinForm.get('email')?.errors?.['pattern']){
                            <span class="font-medium">enter a valid email</span> 
                        }
                      </div>
                }
               
            </div>
            <div class="mb-6">
                <input type="password" formControlName="password" id="password" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Type your password">
                @if(signinForm.get('password')?.errors && signinForm.get('password')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(signinForm.get('password')?.errors?.['required']){
                            <span class="font-medium">please password is required</span> 
                        }
                        @if(signinForm.get('password')?.errors?.['pattern']){
                            <span class="font-medium">enter a valid password</span> 
                        }
                      </div>
                }
            </div>
            <div>
                <button type="submit" class="text-white flex gap-0.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Signin
                    @if (isloading()) {
                        <span class="loader"></span>
                    }
                </button>
            </div>
            <p class="text-gray-500">Not registered?<span class="text-main font-medium cursor-pointer"  routerLink="/register">Create account</span></p>
        </form>
    </div>
</div>