<app-navbar (emited)="loading()"></app-navbar>
<div class="allposts bg-main  dark:bg-slate-800" id="post">
        <div class="w-1/2 md:w-1/3 mx-auto bg-white dark:bg-slate-700 rounded-lg p-5  mb-5 comment" id="comment">
            <!-- Modal toggle -->
              <input type="text" readonly (click)="addopen($event)" id="create-post" rows="1" class="block mx-auto p-2.5 w-full text-sm text-gray-900 bg-white rounded-3xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="What's on your mind, Ahmed?">
              <!-- Main modal -->
              <div id="max"  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                  <div class="relative p-4 w-full max-w-md max-h-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                      <!-- Modal content -->
                      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                          <!-- Modal header -->
                          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                              <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                  Create New Post
                              </h3>
                              <button type="button" (click)="deleteopen($event)" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
                                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                  </svg>
                              </button>
                          </div>
                          <!-- Modal body -->
                            <div class="p-4 md:p-5">
                                <div class="grid gap-4 mb-4 grid-cols-2">
                                    <div class="col-span-2">
                                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">What is in your mind</label>
                                        <textarea [(ngModel)]="bodyPost" id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write is in your mind"></textarea>                    
                                    </div>
                                </div>
                        <div class="flex items-center justify-center w-full my-3">
                            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50  dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                    <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                    </svg>
                                    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                    <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                                </div>
                                <input id="dropzone-file" (change)="catchImage($event)" type="file" class="hidden" />
                            </label>
                        </div> 
                        <button type="submit" (click)="sendPost()" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            Add Post
                        </button>
                            </div>
                      </div>
                  </div>
              </div> 
            </div>
    @for(post of allPosts();track $index){
        <div class="w-1/2 md:w-1/3 mx-auto  bg-white dark:bg-slate-700 dark:text-white rounded-lg p-5  mb-5">
            <div class="flex items-center gap-3">
                <img class="w-11 h-11 rounded-full" [src]="post.user.photo" [alt]="post.user.name">
                <div>
                    <h3 class="font-medium">
                        {{post.user.name}}
                    </h3>
                    <span class="text-gray-500 my-1 font-light">
                        {{post.createdAt | date:'short'}} 
                    </span>
                </div>
            </div>
            <p class="my-4">
                {{post.body}}
            </p>
            <img class="w-full rounded-xl" [src]="post.image" alt="post-img">
            <app-allcommentpost [Id]="post._id"></app-allcommentpost>
            <app-create-comment [Id]="post._id"></app-create-comment>
        </div>
    }
</div>

 