<div class="register min-h-screen bg-main flex flex-col  justify-center items-center dark:bg-gray-900 ">
    <h1 class="text-5xl font-medium text-center text-main mb-16">
        Linked Posts
    </h1>
   
    <div class="bg-white w-full md:w-8/12 mx-auto p-4 rounded-lg shadow-lg dark:bg-slate-800">
        @if(errMsg){
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">
                    {{errMsg}}
                </span> 
              </div>
        }
        <h1 class="text-main text-3xl font-medium my-5">
            Register now
        </h1>
        <form autocomplete="off" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="mb-6">
                <input type="text" id="name" formControlName="name" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Type your name...">
                @if(this.signUpForm.get('name')?.errors && this.signUpForm.get('name')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(signUpForm.get('name')?.errors?.['required']){
                            <span class="font-medium">
                                please name is required
                            </span>
                        }
                      </div>
                }
            </div>
            <div class="mb-6">
                <input type="email" id="email" formControlName="email" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Type your email...">
                @if(this.signUpForm.get('email')?.errors && this.signUpForm.get('email')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(signUpForm.get('email')?.errors?.['required']){
                            <span class="font-medium">
                                please email is required
                            </span>
                        }
                        @if(signUpForm.get('email')?.errors?.['pattern']){
                            <span class="font-medium">
                                please enter a valid email
                            </span>
                        }
                      </div>
                }
            </div>
            <div class="mb-6">
                <input type="password" id="password" formControlName="password" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Type your password">
                @if(this.signUpForm.get('password')?.errors && this.signUpForm.get('password')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(signUpForm.get('password')?.errors?.['required']){
                            <span class="font-medium">
                                please password is required
                            </span>
                        }
                        @if(signUpForm.get('password')?.errors?.['pattern']){
                            <span class="font-medium">
                                please enter a valid password
                            </span>
                        }
                      </div>
                }
            </div>
            <div class="mb-6">
                <input type="password" id="repassword" formControlName="rePassword" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-main text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="confirm password">
                @if(this.signUpForm.get('rePassword')?.errors && this.signUpForm.get('rePassword')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(signUpForm.get('rePassword')?.errors?.['required']){
                            <span class="font-medium">
                                please password is required
                            </span>
                        }
                        @if(signUpForm.get('rePassword')?.errors?.['pattern']){
                            <span class="font-medium">
                                please enter a valid password
                            </span>
                        }                     
                     </div>
                }
            </div>
            <div class="mb-6">
                <input type="date"  id="date" formControlName="dateOfBirth" style="padding: 18px" class="block w-full relative p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-sm focus:ring-blue-500 focus:border-blue-500" placeholder="select date">
                @if(this.signUpForm.get('dateOfBirth')?.errors && this.signUpForm.get('dateOfBirth')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if(signUpForm.get('dateOfBirth')?.errors?.['required']){
                            <span class="font-medium">
                                please dateOfBirth is required
                            </span>
                        }
                    </div>
                }
            </div>
            <div class=" flex items-center">
                    <input type="radio" value="male"  id="male" formControlName="gender">
                    <label for="male" class="font-semibold px-1.5 mr-2">Male</label>
                    <input type="radio" id="female" formControlName="gender">
                    <label for="female" value="female" class="font-semibold px-1.5">Female</label>
            </div>
            @if(this.signUpForm.get('gender')?.errors && this.signUpForm.get('gender')?.touched){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    @if(signUpForm.get('gender')?.errors?.['required']){
                        <span class="font-medium">
                            please gender is required
                        </span>
                    }                 
                 </div>
            }
            <div class=" mt-6">
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Sign Up</button>
            </div>
        </form>
       
    </div>
</div>



