@if(!ishow()){
    <p class="text-blue-400 mb-5 mt-2 cursor-pointer" (click)="showComment()">show comments</p>
}
@if(ishow()){
    <p class="text-blue-400 mb-5 mt-2 cursor-pointer" (click)="hiddenComment()">show comments</p>
}
@if(ishow()){
    @for(comment of comments();track $index){
        <div class="p-5 bg-gray-50 rounded-xl mb-2">
            <div class="flex items-center gap-3 my-2">
                <img class="w-11 rounded-full" [src]="comment.commentCreator.photo" alt="image-person ">
                    <h5 class="font-medium">
                         {{comment.commentCreator.name}}
                    </h5>
                    <span class="text-gray-600 my-1 font-light">
                        {{comment.createdAt | date:'short'}}
                    </span>
            </div>
            <p class="font-light text-gray-600 ">
                {{comment.content}}
           </p>
        </div>
    }
          
}
